/* GoalDetail.module.css */
.detailsContainer {
    padding: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  .goalTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2px;
    background: none; /* No background around the title */
    padding: 10px;
  }
  
  .targetDate {
    font-size: 1.2em;
    color: #007bff; /* Black color for content */
    font-size: 1.2em;
  }
  
  .targetDate {
    margin-bottom: 10px;
  }
  