body {
  font-family: Arial, sans-serif;
  background-color: #f3ade6; 
  margin: 0;
  padding: 0;
  color: #2d2d2d; 
}

h1, h2 {
  color: #7e2020; 
  text-align: center; 
  margin-top: 50px; 
}

p {
  color: #2d2d2d; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #ffc1ff; 
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4a90e2; 
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  color: #661c1c; 
  text-decoration: underline;
}

footer {
  background-color: #ffc1ff; 
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

main {
  padding: 20px;
  text-align: center;
}

form input, form textarea {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #f1c6c6; 
  border-radius: 5px;
  font-size: 16px;
}

form button {
  padding: 12px 25px;
  background-color: #a962bb; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px; 
}

form button:hover {
  background-color: #4a90e2; 
  color: white;
}


h2 {
  text-align: center; 
  margin-top: 40px; 
}

button {
  display: block;
  margin: 20px auto; 
}

/* Responsive Design For Mobile */
@media (max-width: 600px) {
  nav ul {
    text-align: center;
  }

  form input, form textarea {
    width: 90%;
    max-width: 100%;
  }

  form button {
    width: 90%;
    max-width: 100%;
  }
}
/* Responsive Layout for Mobile */
@media (max-width: 768px) {
  .session-card, .goal-card {
    padding: 10px;
    margin: 5px;
  }
}

